.card-body {
    height: 300px;
    margin: 25px;
    border: 1px solid black;
    cursor: pointer;
    width: 60vw;
}

/* .card-details-page {
    background-color: #c8e9c0;
    min-height: 100vh;
    padding-top: 45px;
} */

.card_details_wrapper {
    /* height: 500px; */
    /* width: 400px; */
    border: 1px solid rgb(0, 166, 232);
    border-radius: 15px;
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: rgb(5, 83, 114);
}