.user_info_container {
    width: 70%;
    padding: 10px;
    margin: 5vh auto;
    /* height: 40vh; */
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(240, 238, 238);
    text-align: center;

}


.user_info_value {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    margin-top: 5px;
}

.update_details_button {
    text-align: center;
    margin: 5px auto;
    border: 1px solid red;
    background-color: rgb(106, 109, 106);
    margin-left: 20%;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
}


/* Update user details container */

.update_user_details_container {}

.update_user_form {
    /* border: 1px solid red; */
    margin: 10vh auto;
    box-sizing: border-box;

}

.form-group {
    margin: 10px 0;
}

.form-group input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    padding: 1vh;
    margin-top: 2px;
    border: 1px solid lightgrey;
}

/* Save Details Button */

.save_details_button {
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(108, 110, 108);
    padding: 1.4vh;
    color: white;
    font-size: 1em;
    font-weight: bold;
}